<h1>Teachers List</h1>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td><b>Name</b></td>
        <td><b>Subject</b></td>
        <td><b>Actions</b></td>
      </tr>
      <% @teachers.each do |t| %>
        <tr>
          <td><%= t.name %></td>
          <td><%= t.subject%></td>
          <td><button class="btn btn-primary">View</button><td>
        </tr>
      <% end %>
    </tbody>
  </table>  
