<div class="container">
  <h1>Teachers List</h1>
  <%= link_to 'Add New Teacher', new_teacher_path, class: 'btn btn-success pull-right'  %>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><b>Name</b></td>
        <td><b>Subject</b></td>
        <td><b>Actions</b></td>
      </tr>
      <% @teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.name %></td>
          <td><%= teacher.subject%></td>
          <td><%= link_to 'Edit', edit_teacher_path(teacher), class: 'btn btn-primary'  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
